/* Registration/Login Form by html-form-guide.com You can customize all the aspects of the form in this style sheet */

*{
    margin:0;
    padding:0;
}

#loginform fieldset
{
    width: 170px;
    padding:5px;
    border:1px solid #000;
    background-color: #FFCF01;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px; 
    margin-bottom:10px;
}

#loginform legend, #loginform h2
{
    font-family : Arial, sans-serif;
    font-size: 18px;
    font-weight:bold;
    color:#222;
    margin: 0px 5px;
}

#loginform label
{
   font-family : Arial, sans-serif;
   font-size:8px;
   font-weight: bold;
}

#loginform input[type="text"],#loginform textarea,
#loginform input[type="password"]
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height:100%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

#loginform input[type="text"],
#loginform input[type="password"]
{
  height:18px;
  width:160px;
}

 #loginform #scaptcha
{
  width:60px;
  height:18px;
}

#loginform input[type="submit"]
{
   font-size: 10px;
   width:60px;
   height:25px;
   padding: 2px 0px;
   margin-left:64px;
   margin-right:64px;
   text-transform: uppercase;
}

#loginform textarea
{
  height:120px;
  width:120px;
}

#loginform input[type="text"]:focus,
#loginform textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#loginform .container
{
   margin-top:4px;
   margin-bottom: 4px;
}

#loginform .error
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#loginform #register_password_errorloc
{
    clear:both;
}

#loginform  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:200px;
}

#loginform fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#loginform .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 8px;
   color:#333;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#loginform .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#loginform #fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#loginform  #fg_crdiv p
{
    display:none;
}

#loginform_content li
{
font-family : Arial, sans-serif;
padding-top:10px;
padding-bottom:10px;
}
#loginform_content
{
    font-family : Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

#loginform_content h2
{
   font-family : Arial, sans-serif;
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}

#loginform_floater1 {
    position: fixed;
    bottom:120px;
    right: 240px;
    width:0em;
    height:0em;
    z-index: 3;
}

#loginform_floater1 fieldset
{
    width: 70px;
    border:2px solid #000;
    background-color: #964a26;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    opacity:1.0;
}

#loginform_floater1 fieldset:hover
{
    opacity:1.0;
}

#loginform_floater1 legend, #loginform h2
{
    font-family : Arial, sans-serif;
    font-size: 4.0em;
    font-weight:bold;
    color:#222;
    text-shadow: 1px 1px white, -1px -1px #444
}

#loginform_floater1 label
{
   font-family : Arial, sans-serif;
   font-size:8px;
   font-weight: bold;
}

.draggable {
}

