/* Attributes */

.formbutton {
    cursor:pointer;
    border:outset 2px #ccc;
    background-color: #B20838;
    color:#eee;
    width:70px;
    font-weight:bold;
    padding-bottom:5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.darkenOnHover:hover {
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=06);

    /* Older than Firefox 0.6 */
    -moz-opacity:0.6;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.6;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.6;
}

* {
	margin: 0px;
	padding: 0px;
    overflow:hidden;
}

body {
	background-color: #f8f8f8;
    background-size:100%;
    background-repeat:repeat-x;
    background-attachment:fixed;
	color: #000;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

.transparent {
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=85);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.85;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.85;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.85;
}

a {
	color: #EE3424;
	background-color: inherit;
	text-decoration: none;
}

a:hover {
	color: #EC891D;
	background-color: inherit;
    cursor:pointer;
}

img { border: none; }

ul { list-style-type: none; }

li { list-style-type: none; }

p {
	margin: 6px 0px 15px;
	text-align: justify;
	line-height: 14px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
	visibility: hidden;
}


.add_shadow {
	float: left;
	background: url('../img/shadow_bot.html') no-repeat 0% 100%;
}

.add_shadow div {
	display: block;
	float: left;
	background: url('../img/shadow_right.html') no-repeat 100% 0%;
}

.add_shadow div div {
	display: block;
	float: none;
	padding: 0px 5px 5px 0px;
	background: url('../img/shadow_rightbot.html') no-repeat 100% 100%;
}

.add_shadow div div div {
	padding: 0px;
	background: none;
}

.logo { 
    background-color: #FFF;
    color: #000; 
}

.sitename {
    background-color: #EEE;
    border:2px ridge #FFCF01;
	color: #B20838;
    font-size:22px;
    font-style:oblique;
    font-weight:bold;
    margin:0px 0px 10px 0px;
    padding:5px 0px;
    text-align:center;
    z-index: 3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/* Navigational Menu */

.navpath {
    color: #FFCF01;
    font-size:8px;
    padding: 7px 2px 2px 11px;
	text-transform: capitalize;
    z-index:2;
}

.navbar {
	background-color: #B20838;
	background-color: #EE3424;
/*	background-image: url(nav_splash.jpg);*/
/*        background-repeat:repeat-x;*/
/*        background-size: 100%;*/
	color: #fff;
	border: 1px solid #000;
	border-left: 0px solid #000;
	border-right: 0px solid #000;
	font-family: arial, sans-serif;
	font-weight: bold;
    height:50px;
	letter-spacing: 2px;
	text-transform: uppercase;
    position:fixed;
        top:0px;
        left:0px;
        right:0px;
	z-index: 0;
/*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
*/
}

.navlink_container {
    border-right:2px solid black;
    text-align:center;
    position: absolute;
        bottom:-1px;
}

.navbar a {
    color: #FFF;
}

.navbar a:hover {
    color: #EC891D;
}

.navbar ul {
	margin-left: 0px;
	height: 25px;
	overflow: hidden;
}

.navbar li {
	background-color: #B20838;
	padding: 4px 12px 4px 11px;
        border-top: 1px solid #050505;
        border-left: 1px solid #050505;
	float: left;
    font-size:12px;
    width: 250px;
}

.navbar li:hover {
	background-color: #000;
	color: #eee;
}

.navbar li#last {
	padding-right: 10px;
    border-right: 1px solid #050505;
	background-image: none;
}

.nav_splash {
    width: 80%;
    float:right;
    z-index: 0;
}

.clear_res
{
position:fixed;
font-size:7 px;    
top:5px;
right:425px;
background-color: #ffcf01;
border: 1px solid #000;
width:160px;
font-size:12px;    
color:black;   
cursor:pointer;    

z-index:2;
}

.search_form {
    position:fixed;
    top:5px;
    right:5px;
    z-index:2;
}


/* Action Tray */

.action_tray {
    padding:5px;
    position: fixed;
        top: 57px;
    width: 210px;
}

.action_tray_header {
    text-align: center;
    background-color: #DDD;
    border: 2px groove #FFCF01;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.action_tray_header:hover {
    background-color: #eee;
}

.action_container {
    padding:10px 5px;
    text-align: center;
}

.action {
    background-color: #FFF;
    border: 1px outset #B20838;
    padding: 5px 0px;
    font-weight:bolder;
    margin-bottom: 2px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    text-transform:uppercase;
}

.action:hover {
    border: 1px inset #000;
    background-color: #FFCF01;
    color: #000;
}

.login_box {
    display: inline;
}


/* Content Body */

.content_container {
    background-color:#fff;
    border: 0px solid #000;
    border-left: 1px solid #000;
	color: #000;
    overflow:auto;
	padding: 10px;
    position:fixed;
        left: 224px;
        top: 52px;
        right: 0px;
        bottom:0px;
    text-align: left;
    padding-right:25px;
    z-index:1;
}


.changeSizeButton{ 

    background-color: #ffcf01;
    border: 1px solid #000;
    width:85px;
    position:fixed;
    top:35px;
    right: 5px;    
    cursor:pointer;
    color:black;
    z-index:3;
    text-align:center;
 
}
.swap_views{
    background-color: #ffcf01;
    border: 1px solid #000;
    width:120px;
    font-size:10px;    
    color:black;   
    cursor:pointer;    

}



.version_box {
    position:fixed;
        left:5px;
        bottom:5px;
    z-index:0;
}

.popup {
    display:none;
    background: #fff;
    border: 2px solid black;
    padding: 10px;
    position: fixed;
        top:100px;
        left:100px;
        right:100px;
        bottom:100px;
    overflow:auto;
    z-index:2;
}

.popup_close_button {
    color:white;
    font-size:14px;
    font-weight:bold;
    background-color: #B20838; 
    cursor:pointer;
    padding: 2px; 
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
}

.viewButtons {
    border-width:1px 1px 1px 0px;
    border-style:solid;
    border-color:black;
    margin:10px 0px 10px 0px;
    z-index:2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.viewButtonFull {
    background-color: #FFF;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color:black;
    float:left;
    font-weight:bold;
    font-size:12px;
    width:200px;
    padding: 4px 7px;
    text-align:center;
}

.viewButtonHalf {
    background-color: #FFF;
    border-left: 1px solid black;
    color:black;
    float:left;
    font-weight:bold;
    width:89px;
    font-size:10px;
    padding: 5px 7px;
    text-align:center;
}

.viewButtonFull:hover, .viewButtonHalf:hover {
    background-color: #FFCF01; 
    color:black;
    cursor:pointer;
}

.db_selector {
    margin:10px 0px 10px 0px;
}

.db_selector_title {
    background-color: #FFCF01;
    border: 1px solid #000;
    margin-bottom:5px;
    font-weight:bold;
    padding:5px 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

select {
    background-color: #FFEFC0;
    font-weight:bolder;
    padding:3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

select:hover {
    background-color: #AFEFF0;
}
