
AddType text/html .html
AddOutputFilter INCLUDES .html

Options +Includes

AddType application/x-httpd-php .html

RewriteEngine on # Turn on the rewriting engine
RewriteRule open-command-prompt-here.html /doc/files/common/open-command-prompt-here.html?&requri=%{REQUEST_URI}&reqfname=%{REQUEST_FILENAME} [L]
RewriteRule prompt-action.php /doc/files/common/prompt-action.php [L]
RewriteRule prompt-action-save.php /doc/files/common/prompt-action-save.php [L]
